# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Databricks
.databricks/

# IDEs
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Arquivos temporários
*.tmp
*.temp

# Credenciais e configurações locais
*.token
credentials.json

.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/
.coverage
htmlcov/